body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}


td.center-audio {
  align-items: center;      /* Vertical centering */
}

ul {
    list-style-type: disc;
    padding: 5px 0 !important;
    padding-left: 30px !important;
    }

ol {
    list-style-type: numeric;
    padding: 5px 0 !important;
    padding-left: 50px !important;
    }

#T_69211_row2_col0 {
  background-color: (0.0, 0.40784313725490196, 0.21568627450980393, 1.0);
  background-color: (0.0, 0.40784313725490196, 0.21568627450980393, 1.0);
  background-color: (0.0, 0.40784313725490196, 0.21568627450980393, 1.0);
}
#T_69211_row2_col1 {
  background-color: (0.003998462129950017, 0.41522491349480967, 0.2195309496347559, 1.0);
  background-color: (0.003998462129950017, 0.41522491349480967, 0.2195309496347559, 1.0);
  background-color: (0.003998462129950017, 0.41522491349480967, 0.2195309496347559, 1.0);
}
#T_69211_row2_col2 {
  background-color: (0.011995386389850066, 0.42998846597462514, 0.22722029988465975, 1.0);
  background-color: (0.011995386389850066, 0.42998846597462514, 0.22722029988465975, 1.0);
  background-color: (0.011995386389850066, 0.42998846597462514, 0.22722029988465975, 1.0);
}
#T_69211_row2_col3 {
  background-color: (0.019992310649750086, 0.44475201845444057, 0.23490965013456364, 1.0);
  background-color: (0.019992310649750086, 0.44475201845444057, 0.23490965013456364, 1.0);
  background-color: (0.019992310649750086, 0.44475201845444057, 0.23490965013456364, 1.0);
}
#T_69211_row2_col4, #T_69211_row2_col5 {
  background-color: (0.023990772779700117, 0.45213379469434833, 0.23875432525951557, 1.0);
  background-color: (0.023990772779700117, 0.45213379469434833, 0.23875432525951557, 1.0);
  background-color: (0.023990772779700117, 0.45213379469434833, 0.23875432525951557, 1.0);
}
#T_69211_row2_col6, #T_69211_row2_col7, #T_69211_row2_col8, #T_69211_row2_col9, #T_69211_row2_col10 {
  background-color: (0.03998462129950019, 0.48166089965397924, 0.25413302575932334, 1.0);
  background-color: (0.03998462129950019, 0.48166089965397924, 0.25413302575932334, 1.0);
  background-color: (0.03998462129950019, 0.48166089965397924, 0.25413302575932334, 1.0);
}
#T_69211_row2_col11, #T_69211_row2_col12, #T_69211_row2_col13, #T_69211_row2_col14 {
  background-color: (0.07597078046905037, 0.5480968858131487, 0.2887351018838908, 1.0);
  background-color: (0.07597078046905037, 0.5480968858131487, 0.2887351018838908, 1.0);
  background-color: (0.07597078046905037, 0.5480968858131487, 0.2887351018838908, 1.0);
}
#T_69211_row2_col15, #T_69211_row2_col16 {
  background-color: (0.10780469050365243, 0.5989234909650134, 0.31518646674356016, 1.0);
  background-color: (0.10780469050365243, 0.5989234909650134, 0.31518646674356016, 1.0);
  background-color: (0.10780469050365243, 0.5989234909650134, 0.31518646674356016, 1.0);
}
#T_69211_row2_col17, #T_69211_row2_col18, #T_69211_row2_col19, #T_69211_row2_col20, #T_69211_row2_col21, #T_69211_row2_col22 {
  background-color: (0.1428681276432141, 0.6159938485198001, 0.3239523260284506, 1.0);
  background-color: (0.1428681276432141, 0.6159938485198001, 0.3239523260284506, 1.0);
  background-color: (0.1428681276432141, 0.6159938485198001, 0.3239523260284506, 1.0);
}
#T_69211_row2_col23, #T_69211_row2_col24 {
  background-color: (0.27143406382160706, 0.6785851595540177, 0.35609381007304886, 1.0);
  background-color: (0.27143406382160706, 0.6785851595540177, 0.35609381007304886, 1.0);
  background-color: (0.27143406382160706, 0.6785851595540177, 0.35609381007304886, 1.0);
}
#T_69211_row2_col25, #T_69211_row2_col26, #T_69211_row2_col27, #T_69211_row2_col28, #T_69211_row2_col29 {
  background-color: (0.3064975009611691, 0.6956555171088045, 0.36485966935793934, 1.0);
  background-color: (0.3064975009611691, 0.6956555171088045, 0.36485966935793934, 1.0);
  background-color: (0.3064975009611691, 0.6956555171088045, 0.36485966935793934, 1.0);
}
#T_69211_row2_col30, #T_69211_row2_col31, #T_69211_row2_col32, #T_69211_row2_col33, #T_69211_row2_col34 {
  background-color: (0.409842368319877, 0.7454825067281815, 0.3893118031526336, 1.0);
  background-color: (0.409842368319877, 0.7454825067281815, 0.3893118031526336, 1.0);
  background-color: (0.409842368319877, 0.7454825067281815, 0.3893118031526336, 1.0);
}
#T_69211_row2_col35, #T_69211_row2_col36, #T_69211_row2_col37, #T_69211_row2_col38, #T_69211_row2_col39 {
  background-color: (0.4885813148788929, 0.7799307958477509, 0.397923875432526, 1.0);
  background-color: (0.4885813148788929, 0.7799307958477509, 0.397923875432526, 1.0);
  background-color: (0.4885813148788929, 0.7799307958477509, 0.397923875432526, 1.0);
}
#T_69211_row2_col40, #T_69211_row2_col41, #T_69211_row2_col42 {
  background-color: (0.5771626297577857, 0.8186851211072665, 0.40761245674740487, 1.0);
  background-color: (0.5771626297577857, 0.8186851211072665, 0.40761245674740487, 1.0);
  background-color: (0.5771626297577857, 0.8186851211072665, 0.40761245674740487, 1.0);
}
#T_69211_row2_col43, #T_69211_row2_col44 {
  background-color: (0.6263744713571706, 0.8402153018069974, 0.4129950019223376, 1.0);
  background-color: (0.6263744713571706, 0.8402153018069974, 0.4129950019223376, 1.0);
  background-color: (0.6263744713571706, 0.8402153018069974, 0.4129950019223376, 1.0);
}
#T_69211_row2_col45, #T_69211_row2_col46, #T_69211_row2_col47, #T_69211_row2_col48, #T_69211_row2_col49 {
  background-color: (0.662745098039216, 0.8560553633217993, 0.42329873125720896, 1.0);
  background-color: (0.662745098039216, 0.8560553633217993, 0.42329873125720896, 1.0);
  background-color: (0.662745098039216, 0.8560553633217993, 0.42329873125720896, 1.0);
}
#T_69211_row2_col50, #T_69211_row2_col51, #T_69211_row2_col52, #T_69211_row2_col53, #T_69211_row2_col54, #T_69211_row2_col55 {
  background-color: (0.7333333333333335, 0.8865051903114187, 0.46897347174163795, 1.0);
  background-color: (0.7333333333333335, 0.8865051903114187, 0.46897347174163795, 1.0);
  background-color: (0.7333333333333335, 0.8865051903114187, 0.46897347174163795, 1.0);
}
#T_69211_row2_col56, #T_69211_row2_col57, #T_69211_row2_col58 {
  background-color: (0.8117647058823532, 0.9203383314109959, 0.5197231833910035, 1.0);
  background-color: (0.8117647058823532, 0.9203383314109959, 0.5197231833910035, 1.0);
  background-color: (0.8117647058823532, 0.9203383314109959, 0.5197231833910035, 1.0);
}
#T_69211_row2_col59, #T_69211_row2_col60, #T_69211_row2_col61, #T_69211_row2_col62, #T_69211_row2_col63, #T_69211_row2_col64, #T_69211_row2_col65, #T_69211_row2_col66, #T_69211_row2_col67 {
  background-color: (0.8509803921568628, 0.9372549019607844, 0.5450980392156864, 1.0);
  background-color: (0.8509803921568628, 0.9372549019607844, 0.5450980392156864, 1.0);
  background-color: (0.8509803921568628, 0.9372549019607844, 0.5450980392156864, 1.0);
}
#T_69211_row2_col68, #T_69211_row2_col69, #T_69211_row2_col70, #T_69211_row2_col71, #T_69211_row2_col72, #T_69211_row2_col73, #T_69211_row2_col74, #T_69211_row2_col75, #T_69211_row2_col76 {
  background-color: (0.9444828911956941, 0.9766243752402922, 0.673048827374087, 1.0);
  background-color: (0.9444828911956941, 0.9766243752402922, 0.673048827374087, 1.0);
  background-color: (0.9444828911956941, 0.9766243752402922, 0.673048827374087, 1.0);
}
#T_69211_row2_col77, #T_69211_row2_col78, #T_69211_row2_col79 {
  background-color: (0.9990003844675125, 0.9690119184928874, 0.697039600153787, 1.0);
  background-color: (0.9990003844675125, 0.9690119184928874, 0.697039600153787, 1.0);
  background-color: (0.9990003844675125, 0.9690119184928874, 0.697039600153787, 1.0);
}
#T_69211_row2_col80, #T_69211_row2_col81, #T_69211_row2_col82, #T_69211_row2_col83, #T_69211_row2_col84 {
  background-color: (0.9982314494425221, 0.9451749327181853, 0.6570549788542868, 1.0);
  background-color: (0.9982314494425221, 0.9451749327181853, 0.6570549788542868, 1.0);
  background-color: (0.9982314494425221, 0.9451749327181853, 0.6570549788542868, 1.0);
}
#T_69211_row2_col85, #T_69211_row2_col86, #T_69211_row2_col87, #T_69211_row2_col88, #T_69211_row2_col89, #T_69211_row2_col90, #T_69211_row2_col91 {
  background-color: (0.9968473663975395, 0.9022683583237217, 0.5850826605151864, 1.0);
  background-color: (0.9968473663975395, 0.9022683583237217, 0.5850826605151864, 1.0);
  background-color: (0.9968473663975395, 0.9022683583237217, 0.5850826605151864, 1.0);
}
#T_69211_row2_col92, #T_69211_row2_col93, #T_69211_row2_col94 {
  background-color: (0.9950019223375625, 0.8246059207996924, 0.4998846597462514, 1.0);
  background-color: (0.9950019223375625, 0.8246059207996924, 0.4998846597462514, 1.0);
  background-color: (0.9950019223375625, 0.8246059207996924, 0.4998846597462514, 1.0);
}
#T_69211_row2_col95, #T_69211_row2_col96, #T_69211_row2_col97, #T_69211_row2_col98, #T_69211_row2_col99 {
  background-color: (0.9942329873125721, 0.7861591695501728, 0.46758938869665495, 1.0);
  background-color: (0.9942329873125721, 0.7861591695501728, 0.46758938869665495, 1.0);
  background-color: (0.9942329873125721, 0.7861591695501728, 0.46758938869665495, 1.0);
}
#T_69211_row2_col100, #T_69211_row2_col101, #T_69211_row2_col102 {
  background-color: (0.9928489042675894, 0.716955017301038, 0.40945790080738165, 1.0);
  background-color: (0.9928489042675894, 0.716955017301038, 0.40945790080738165, 1.0);
  background-color: (0.9928489042675894, 0.716955017301038, 0.40945790080738165, 1.0);
}
#T_69211_row2_col103, #T_69211_row2_col104, #T_69211_row2_col105, #T_69211_row2_col106, #T_69211_row2_col107, #T_69211_row2_col108, #T_69211_row2_col109 {
  background-color: (0.9914648212226067, 0.677354863514033, 0.37808535178777386, 1.0);
  background-color: (0.9914648212226067, 0.677354863514033, 0.37808535178777386, 1.0);
  background-color: (0.9914648212226067, 0.677354863514033, 0.37808535178777386, 1.0);
}
#T_69211_row2_col110 {
  background-color: (0.9748558246828143, 0.5574009996155325, 0.32272202998846594, 1.0);
  background-color: (0.9748558246828143, 0.5574009996155325, 0.32272202998846594, 1.0);
  background-color: (0.9748558246828143, 0.5574009996155325, 0.32272202998846594, 1.0);
}
#T_69211_row2_col111, #T_69211_row2_col112, #T_69211_row2_col113, #T_69211_row2_col114 {
  background-color: (0.972087658592849, 0.5374086889657823, 0.3134948096885813, 1.0);
  background-color: (0.972087658592849, 0.5374086889657823, 0.3134948096885813, 1.0);
  background-color: (0.972087658592849, 0.5374086889657823, 0.3134948096885813, 1.0);
}
#T_69211_row2_col115, #T_69211_row2_col116, #T_69211_row2_col117, #T_69211_row2_col118 {
  background-color: (0.96239907727797, 0.46743560169165704, 0.281199538638985, 1.0);
  background-color: (0.96239907727797, 0.46743560169165704, 0.281199538638985, 1.0);
  background-color: (0.96239907727797, 0.46743560169165704, 0.281199538638985, 1.0);
}
#T_69211_row2_col119, #T_69211_row2_col120, #T_69211_row2_col121, #T_69211_row2_col122, #T_69211_row2_col123 {
  background-color: (0.9434832756632066, 0.39930795847750866, 0.24982698961937716, 1.0);
  background-color: (0.9434832756632066, 0.39930795847750866, 0.24982698961937716, 1.0);
  background-color: (0.9434832756632066, 0.39930795847750866, 0.24982698961937716, 1.0);
}
#T_69211_row2_col124, #T_69211_row2_col125, #T_69211_row2_col126, #T_69211_row2_col127, #T_69211_row2_col128 {
  background-color: (0.9078046905036524, 0.32425990003844674, 0.21537870049980778, 1.0);
  background-color: (0.9078046905036524, 0.32425990003844674, 0.21537870049980778, 1.0);
  background-color: (0.9078046905036524, 0.32425990003844674, 0.21537870049980778, 1.0);
}
#T_69211_row2_col129, #T_69211_row2_col130, #T_69211_row2_col131, #T_69211_row2_col132 {
  background-color: (0.8676662821991542, 0.2398308342945021, 0.1766243752402922, 1.0);
  background-color: (0.8676662821991542, 0.2398308342945021, 0.1766243752402922, 1.0);
  background-color: (0.8676662821991542, 0.2398308342945021, 0.1766243752402922, 1.0);
}
#T_69211_row2_col133, #T_69211_row2_col134, #T_69211_row2_col135, #T_69211_row2_col136, #T_69211_row2_col137 {
  background-color: (0.831603229527105, 0.17716262975778546, 0.15271049596309114, 1.0);
  background-color: (0.831603229527105, 0.17716262975778546, 0.15271049596309114, 1.0);
  background-color: (0.831603229527105, 0.17716262975778546, 0.15271049596309114, 1.0);
}
#T_69211_row2_col138, #T_69211_row2_col139 {
  background-color: (0.7623990772779701, 0.11072664359861592, 0.15132641291810842, 1.0);
  background-color: (0.7623990772779701, 0.11072664359861592, 0.15132641291810842, 1.0);
  background-color: (0.7623990772779701, 0.11072664359861592, 0.15132641291810842, 1.0);
}
#T_69211_row2_col140, #T_69211_row2_col141, #T_69211_row2_col142 {
  background-color: (0.7393310265282584, 0.08858131487889273, 0.1508650519031142, 1.0);
  background-color: (0.7393310265282584, 0.08858131487889273, 0.1508650519031142, 1.0);
  background-color: (0.7393310265282584, 0.08858131487889273, 0.1508650519031142, 1.0);
}
#T_69211_row2_col143, #T_69211_row2_col144 {
  background-color: (0.6931949250288351, 0.044290657439446365, 0.14994232987312572, 1.0);
  background-color: (0.6931949250288351, 0.044290657439446365, 0.14994232987312572, 1.0);
  background-color: (0.6931949250288351, 0.044290657439446365, 0.14994232987312572, 1.0);
}
#T_69211_row2_col145, #T_69211_row2_col146 {
  background-color: (0.6701268742791234, 0.022145328719723183, 0.14948096885813147, 1.0);
  background-color: (0.6701268742791234, 0.022145328719723183, 0.14948096885813147, 1.0);
  background-color: (0.6701268742791234, 0.022145328719723183, 0.14948096885813147, 1.0);
}
#T_69211_row2_col147, #T_69211_row2_col148, #T_69211_row2_col149 {
  background-color: (0.6470588235294118, 0.0, 0.14901960784313725, 1.0);
  background-color: (0.6470588235294118, 0.0, 0.14901960784313725, 1.0);
  background-color: (0.6470588235294118, 0.0, 0.14901960784313725, 1.0);
}

#T_9459c_row2_col0 {
  background-color: (0.0, 0.40784313725490196, 0.21568627450980393, 1.0);
  background-color: (0.0, 0.40784313725490196, 0.21568627450980393, 1.0);
  background-color: (0.0, 0.40784313725490196, 0.21568627450980393, 1.0);
}
#T_9459c_row2_col1 {
  background-color: (0.007996924259900048, 0.42260668973471743, 0.22337562475970782, 1.0);
  background-color: (0.007996924259900048, 0.42260668973471743, 0.22337562475970782, 1.0);
  background-color: (0.007996924259900048, 0.42260668973471743, 0.22337562475970782, 1.0);
}
#T_9459c_row2_col2 {
  background-color: (0.019992310649750086, 0.44475201845444057, 0.23490965013456364, 1.0);
  background-color: (0.019992310649750086, 0.44475201845444057, 0.23490965013456364, 1.0);
  background-color: (0.019992310649750086, 0.44475201845444057, 0.23490965013456364, 1.0);
}
#T_9459c_row2_col3, #T_9459c_row2_col4 {
  background-color: (0.027989234909650135, 0.45951557093425605, 0.24259900038446752, 1.0);
  background-color: (0.027989234909650135, 0.45951557093425605, 0.24259900038446752, 1.0);
  background-color: (0.027989234909650135, 0.45951557093425605, 0.24259900038446752, 1.0);
}
#T_9459c_row2_col5, #T_9459c_row2_col6, #T_9459c_row2_col7 {
  background-color: (0.05198000768935025, 0.5038062283737024, 0.26566705113417916, 1.0);
  background-color: (0.05198000768935025, 0.5038062283737024, 0.26566705113417916, 1.0);
  background-color: (0.05198000768935025, 0.5038062283737024, 0.26566705113417916, 1.0);
}
#T_9459c_row2_col8, #T_9459c_row2_col9, #T_9459c_row2_col10, #T_9459c_row2_col11, #T_9459c_row2_col12 {
  background-color: (0.07996924259900039, 0.5554786620530565, 0.29257977700884275, 1.0);
  background-color: (0.07996924259900039, 0.5554786620530565, 0.29257977700884275, 1.0);
  background-color: (0.07996924259900039, 0.5554786620530565, 0.29257977700884275, 1.0);
}
#T_9459c_row2_col13, #T_9459c_row2_col14, #T_9459c_row2_col15, #T_9459c_row2_col16 {
  background-color: (0.18961937716262972, 0.6387543252595156, 0.3356401384083045, 1.0);
  background-color: (0.18961937716262972, 0.6387543252595156, 0.3356401384083045, 1.0);
  background-color: (0.18961937716262972, 0.6387543252595156, 0.3356401384083045, 1.0);
}
#T_9459c_row2_col17, #T_9459c_row2_col18, #T_9459c_row2_col19 {
  background-color: (0.3181853133410227, 0.7013456362937331, 0.36778162245290275, 1.0);
  background-color: (0.3181853133410227, 0.7013456362937331, 0.36778162245290275, 1.0);
  background-color: (0.3181853133410227, 0.7013456362937331, 0.36778162245290275, 1.0);
}
#T_9459c_row2_col20, #T_9459c_row2_col21, #T_9459c_row2_col22 {
  background-color: (0.409842368319877, 0.7454825067281815, 0.3893118031526336, 1.0);
  background-color: (0.409842368319877, 0.7454825067281815, 0.3893118031526336, 1.0);
  background-color: (0.409842368319877, 0.7454825067281815, 0.3893118031526336, 1.0);
}
#T_9459c_row2_col23, #T_9459c_row2_col24, #T_9459c_row2_col25, #T_9459c_row2_col26, #T_9459c_row2_col27, #T_9459c_row2_col28 {
  background-color: (0.4885813148788929, 0.7799307958477509, 0.397923875432526, 1.0);
  background-color: (0.4885813148788929, 0.7799307958477509, 0.397923875432526, 1.0);
  background-color: (0.4885813148788929, 0.7799307958477509, 0.397923875432526, 1.0);
}
#T_9459c_row2_col29, #T_9459c_row2_col30 {
  background-color: (0.6362168396770479, 0.8445213379469437, 0.4140715109573242, 1.0);
  background-color: (0.6362168396770479, 0.8445213379469437, 0.4140715109573242, 1.0);
  background-color: (0.6362168396770479, 0.8445213379469437, 0.4140715109573242, 1.0);
}
#T_9459c_row2_col31, #T_9459c_row2_col32, #T_9459c_row2_col33, #T_9459c_row2_col34 {
  background-color: (0.6784313725490199, 0.8628219915417148, 0.43344867358708206, 1.0);
  background-color: (0.6784313725490199, 0.8628219915417148, 0.43344867358708206, 1.0);
  background-color: (0.6784313725490199, 0.8628219915417148, 0.43344867358708206, 1.0);
}
#T_9459c_row2_col35, #T_9459c_row2_col36, #T_9459c_row2_col37, #T_9459c_row2_col38, #T_9459c_row2_col39 {
  background-color: (0.7647058823529416, 0.9000384467512497, 0.48927335640138436, 1.0);
  background-color: (0.7647058823529416, 0.9000384467512497, 0.48927335640138436, 1.0);
  background-color: (0.7647058823529416, 0.9000384467512497, 0.48927335640138436, 1.0);
}
#T_9459c_row2_col40, #T_9459c_row2_col41, #T_9459c_row2_col42, #T_9459c_row2_col43, #T_9459c_row2_col44 {
  background-color: (0.8626682045367168, 0.9421760861207229, 0.5610918877354865, 1.0);
  background-color: (0.8626682045367168, 0.9421760861207229, 0.5610918877354865, 1.0);
  background-color: (0.8626682045367168, 0.9421760861207229, 0.5610918877354865, 1.0);
}
#T_9459c_row2_col45, #T_9459c_row2_col46, #T_9459c_row2_col47, #T_9459c_row2_col48, #T_9459c_row2_col49, #T_9459c_row2_col50 {
  background-color: (0.938638985005767, 0.9741637831603229, 0.6650519031141869, 1.0);
  background-color: (0.938638985005767, 0.9741637831603229, 0.6650519031141869, 1.0);
  background-color: (0.938638985005767, 0.9741637831603229, 0.6650519031141869, 1.0);
}
#T_9459c_row2_col51, #T_9459c_row2_col52 {
  background-color: (0.9991541714725106, 0.9737793156478277, 0.7050365244136869, 1.0);
  background-color: (0.9991541714725106, 0.9737793156478277, 0.7050365244136869, 1.0);
  background-color: (0.9991541714725106, 0.9737793156478277, 0.7050365244136869, 1.0);
}
#T_9459c_row2_col53, #T_9459c_row2_col54, #T_9459c_row2_col55, #T_9459c_row2_col56, #T_9459c_row2_col57 {
  background-color: (0.9983852364475202, 0.9499423298731258, 0.6650519031141868, 1.0);
  background-color: (0.9983852364475202, 0.9499423298731258, 0.6650519031141868, 1.0);
  background-color: (0.9983852364475202, 0.9499423298731258, 0.6650519031141868, 1.0);
}
#T_9459c_row2_col58, #T_9459c_row2_col59, #T_9459c_row2_col60 {
  background-color: (0.9963860053825452, 0.8879661668589004, 0.5610918877354863, 1.0);
  background-color: (0.9963860053825452, 0.8879661668589004, 0.5610918877354863, 1.0);
  background-color: (0.9963860053825452, 0.8879661668589004, 0.5610918877354863, 1.0);
}
#T_9459c_row2_col61, #T_9459c_row2_col62, #T_9459c_row2_col63 {
  background-color: (0.9951557093425606, 0.8322952710495963, 0.5063437139561706, 1.0);
  background-color: (0.9951557093425606, 0.8322952710495963, 0.5063437139561706, 1.0);
  background-color: (0.9951557093425606, 0.8322952710495963, 0.5063437139561706, 1.0);
}
#T_9459c_row2_col64, #T_9459c_row2_col65, #T_9459c_row2_col66 {
  background-color: (0.993925413302576, 0.7707804690503652, 0.4546712802768165, 1.0);
  background-color: (0.993925413302576, 0.7707804690503652, 0.4546712802768165, 1.0);
  background-color: (0.993925413302576, 0.7707804690503652, 0.4546712802768165, 1.0);
}
#T_9459c_row2_col67, #T_9459c_row2_col68, #T_9459c_row2_col69, #T_9459c_row2_col70, #T_9459c_row2_col71 {
  background-color: (0.9926951172625913, 0.7092656670511341, 0.40299884659746243, 1.0);
  background-color: (0.9926951172625913, 0.7092656670511341, 0.40299884659746243, 1.0);
  background-color: (0.9926951172625913, 0.7092656670511341, 0.40299884659746243, 1.0);
}
#T_9459c_row2_col72 {
  background-color: (0.9790080738177624, 0.5873894655901576, 0.3365628604382929, 1.0);
  background-color: (0.9790080738177624, 0.5873894655901576, 0.3365628604382929, 1.0);
  background-color: (0.9790080738177624, 0.5873894655901576, 0.3365628604382929, 1.0);
}
#T_9459c_row2_col73 {
  background-color: (0.976239907727797, 0.5673971549404074, 0.32733564013840827, 1.0);
  background-color: (0.976239907727797, 0.5673971549404074, 0.32733564013840827, 1.0);
  background-color: (0.976239907727797, 0.5673971549404074, 0.32733564013840827, 1.0);
}
#T_9459c_row2_col74, #T_9459c_row2_col75 {
  background-color: (0.972087658592849, 0.5374086889657823, 0.3134948096885813, 1.0);
  background-color: (0.972087658592849, 0.5374086889657823, 0.3134948096885813, 1.0);
  background-color: (0.972087658592849, 0.5374086889657823, 0.3134948096885813, 1.0);
}
#T_9459c_row2_col76, #T_9459c_row2_col77, #T_9459c_row2_col78 {
  background-color: (0.9651672433679355, 0.48742791234140703, 0.2904267589388696, 1.0);
  background-color: (0.9651672433679355, 0.48742791234140703, 0.2904267589388696, 1.0);
  background-color: (0.9651672433679355, 0.48742791234140703, 0.2904267589388696, 1.0);
}
#T_9459c_row2_col79 {
  background-color: (0.9479430988081508, 0.40868896578239133, 0.2541330257593233, 1.0);
  background-color: (0.9479430988081508, 0.40868896578239133, 0.2541330257593233, 1.0);
  background-color: (0.9479430988081508, 0.40868896578239133, 0.2541330257593233, 1.0);
}
#T_9459c_row2_col80, #T_9459c_row2_col81 {
  background-color: (0.9390234525182622, 0.3899269511726259, 0.24552095347943098, 1.0);
  background-color: (0.9390234525182622, 0.3899269511726259, 0.24552095347943098, 1.0);
  background-color: (0.9390234525182622, 0.3899269511726259, 0.24552095347943098, 1.0);
}
#T_9459c_row2_col82, #T_9459c_row2_col83 {
  background-color: (0.9122645136485967, 0.3336409073433294, 0.2196847366397539, 1.0);
  background-color: (0.9122645136485967, 0.3336409073433294, 0.2196847366397539, 1.0);
  background-color: (0.9122645136485967, 0.3336409073433294, 0.2196847366397539, 1.0);
}
#T_9459c_row2_col84 {
  background-color: (0.8899653979238754, 0.2867358708189158, 0.19815455594002307, 1.0);
  background-color: (0.8899653979238754, 0.2867358708189158, 0.19815455594002307, 1.0);
  background-color: (0.8899653979238754, 0.2867358708189158, 0.19815455594002307, 1.0);
}
#T_9459c_row2_col85, #T_9459c_row2_col86, #T_9459c_row2_col87 {
  background-color: (0.8765859284890427, 0.25859284890426754, 0.18523644752018453, 1.0);
  background-color: (0.8765859284890427, 0.25859284890426754, 0.18523644752018453, 1.0);
  background-color: (0.8765859284890427, 0.25859284890426754, 0.18523644752018453, 1.0);
}
#T_9459c_row2_col88, #T_9459c_row2_col89 {
  background-color: (0.8453671664744329, 0.19292579777008842, 0.15509419454056134, 1.0);
  background-color: (0.8453671664744329, 0.19292579777008842, 0.15509419454056134, 1.0);
  background-color: (0.8453671664744329, 0.19292579777008842, 0.15509419454056134, 1.0);
}
#T_9459c_row2_col90 {
  background-color: (0.8008458285274894, 0.14763552479815456, 0.1520953479430988, 1.0);
  background-color: (0.8008458285274894, 0.14763552479815456, 0.1520953479430988, 1.0);
  background-color: (0.8008458285274894, 0.14763552479815456, 0.1520953479430988, 1.0);
}
#T_9459c_row2_col91 {
  background-color: (0.7854671280276817, 0.1328719723183391, 0.15178777393310267, 1.0);
  background-color: (0.7854671280276817, 0.1328719723183391, 0.15178777393310267, 1.0);
  background-color: (0.7854671280276817, 0.1328719723183391, 0.15178777393310267, 1.0);
}
#T_9459c_row2_col92, #T_9459c_row2_col93 {
  background-color: (0.7623990772779701, 0.11072664359861592, 0.15132641291810842, 1.0);
  background-color: (0.7623990772779701, 0.11072664359861592, 0.15132641291810842, 1.0);
  background-color: (0.7623990772779701, 0.11072664359861592, 0.15132641291810842, 1.0);
}
#T_9459c_row2_col94 {
  background-color: (0.7239523260284506, 0.07381776239907728, 0.15055747789311805, 1.0);
  background-color: (0.7239523260284506, 0.07381776239907728, 0.15055747789311805, 1.0);
  background-color: (0.7239523260284506, 0.07381776239907728, 0.15055747789311805, 1.0);
}
#T_9459c_row2_col95, #T_9459c_row2_col96 {
  background-color: (0.700884275278739, 0.0516724336793541, 0.1500961168781238, 1.0);
  background-color: (0.700884275278739, 0.0516724336793541, 0.1500961168781238, 1.0);
  background-color: (0.700884275278739, 0.0516724336793541, 0.1500961168781238, 1.0);
}
#T_9459c_row2_col97 {
  background-color: (0.6624375240292195, 0.014763552479815456, 0.1493271818531334, 1.0);
  background-color: (0.6624375240292195, 0.014763552479815456, 0.1493271818531334, 1.0);
  background-color: (0.6624375240292195, 0.014763552479815456, 0.1493271818531334, 1.0);
}
#T_9459c_row2_col98, #T_9459c_row2_col99 {
  background-color: (0.6470588235294118, 0.0, 0.14901960784313725, 1.0);
  background-color: (0.6470588235294118, 0.0, 0.14901960784313725, 1.0);
  background-color: (0.6470588235294118, 0.0, 0.14901960784313725, 1.0);
}